.login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;

    .inner {
        min-width: 400px;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid #cecece;
            margin-bottom: 20px;
        }
    }
}